<section class="header">
  <br><%= @user.name %>
  <br><%= @user.email %>
</section>
<section class="address-index">
  <% @user.addresses.each do |address| %>
  <section id="address-<%=address.id%>">
    <p>Nickname: <%=address.nickname %></p>
    <p>Address: <%=address.address%>
      <%= address.city %> <%= address.state %> <%= address.zip %> </p>
      <%= link_to "Edit", "/profile/addresses/#{address.id}/edit" %>
      <%= link_to "Delete", "/profile/addresses/#{address.id}", method: :delete %>
  </section>
  <% end %>
  <%= link_to "New Address", "/profile/addresses/new" %>
</section>
  <section class="text">
  <br><% if !current_admin? %>
    <br><%= link_to 'Edit Profile', '/profile/edit' %>
    <br><br><%= link_to 'Edit Password', '/profile/password_edit' %>
  <% end %>
  <section class="my-orders-link">
    <% unless @user.no_orders? %>
      <br><%= link_to 'My Orders', '/profile/orders' %>
    <% end %>
  </section>
</section>
